$pi: 1;
	.fixd{ position: fixed;  }
	.col-left{/* margin-top: 210*$pi+px; */float: left;}
	.content{height: 417*$pi+px;padding-top: 20*$pi+px;}
	.menu{
		width: 156*$pi+px;
		padding-top: 23*$pi+px;
	}
	.menu span{width: 156*$pi+px;height: 80*$pi+px;display: block;border-radius: 9*$pi+px;color: #FFF;font-size: 24*$pi+px;line-height: 80*$pi+px;text-align: center;margin-bottom: 7*$pi+px;vertical-align: middle;background: url(../images/120_n.png) no-repeat center; background-size: 100%; }

	.wrap .menu span.on,.wrap .menu span.current{background: url(../images/120_s.png) no-repeat center;background-size: 100%;}
	.menu li{ margin-bottom: 7*$pi+px; }
	.newslist{/* width: 1228*$pi+px; */padding: 14*$pi+px 8*$pi+px;overflow: hidden;/*position: relative;*/}
	.newslist li{width: 190*$pi+px;/* height: 530*$pi+px; */float: left;margin-right: 8*$pi+px;border-radius: 9*$pi+px;margin-bottom: 12*$pi+px;/* position: relative; */padding: 2*$pi+px;border: 0;}
	.newslist li .hotbutton{background: #2B9DFF;border-radius: 9*$pi+px;}
	.newslist li:nth-child(4n) {margin-right:0}
	.newslist li .pic{
		display: block;
		/* height: 434*$pi+px; */
		border-radius: 9*$pi+px 9*$pi+px 0 0*$pi+px;
		overflow: hidden;
	}
	.newslist li .pic img{width:100%}
	.newslist li .title{
		display: block;
		height: 22*$pi+px;
		line-height: 22*$pi+px;
		font-size: 15*$pi+px;
		padding: 10*$pi+px;
        color: #f1f1f1;
        overflow: hidden;
        white-space: nowrap;
	}
	.scroll-view{width: 860*$pi+px;position: relative;float: left;height: 560*$pi+px;overflow: hidden;}
	.scroll{/* width: 1264*$pi+px; */     min-width: 782*$pi+px; overflow: hidden;height: 560*$pi+px;position: relative;margin-top: 10*$pi+px;}
	.adbord{width: 156*$pi+px;position: absolute;right: 0;/*top: 12*$pi+px*/;}
	.adbord span{width: 156*$pi+px;height: 257*$pi+px;display: block;border-radius: 9*$pi+px;overflow: hidden;margin: 12*$pi+px 0 !important;}
	.col-main{
		overflow: hidden;
		padding: 15*$pi+px;
		position: relative;
		width: 1170*$pi+px;
	}
	.adbord span img{ width: 100% }
	.view-scroll{
		display: inline-flex;
		width: max-content;
	}
	.col-main .tab{position: relative;float: left;height: 388*$pi+px;width: 1153*$pi+px;padding-right: 20*$pi+px;}
    .piclist .view{position: absolute;line-height: 0;border-radius: 9*$pi+px;/* overflow: hidden; */}
	.piclist .view .pic{clear: both;line-height: 0;border-radius: 9*$pi+px;overflow: hidden;display: block;}
	.piclist .view .title{display: block;font-size: 16*$pi+px;line-height: 38*$pi+px;color: #F6F6F6;padding: 7*$pi+px 0;height: 40*$pi+px;position: absolute;bottom: 0;left: 0;width: 100%;background: #0e0e0e;background: linear-gradient(to bottom, rgba(3,3,3,0) 0%,rgba(3,3,3,1) 100%);overflow: hidden;border-radius: 0 0 9*$pi+px 9*$pi+px;}

	.piclist .view .title span{padding: 0 10*$pi+px;display: block;}
	.col-main .view0{ width: 376*$pi+px; height: 282*$pi+px; left: 0; top: 0; }
	.col-main .view1{width: 376*$pi+px;height: 93*$pi+px;left: 0;top: 293*$pi+px;}
	.col-main .view2{ width: 223*$pi+px; height: 388*$pi+px; left: 388*$pi+px; top: 0; }
	.col-main .view3{ width: 142*$pi+px; height: 198*$pi+px; left: 623*$pi+px; top:-8*$pi+px; }
	.col-main .view4{ width: 142*$pi+px; height: 188*$pi+px; left: 623*$pi+px; top:200*$pi+px; }
	.col-main .view5{ width: 223*$pi+px; height: 388*$pi+px; left: 776*$pi+px; top:0; }
	.col-main .view6{ width: 142*$pi+px; height: 198*$pi+px; left: 1011*$pi+px; top:-8*$pi+px; }
    .col-main .view7{ width: 142*$pi+px; height: 188*$pi+px; left: 1011*$pi+px; top:200*$pi+px; }
    .col-main .view .pic{overflow:hidden}
    .col-main .view0 .pic{width: 376*$pi+px;height: 280*$pi+px;}
	.col-main .view1 .pic{width: 376*$pi+px;height: 90*$pi+px;}
	.col-main .view2 .pic{width: 223*$pi+px;height: 385*$pi+px;}
	.col-main .view3 .pic{ width: 142*$pi+px; height: 195*$pi+px;}
	.col-main .view4 .pic{ width: 142*$pi+px; height: 185*$pi+px;}
	.col-main .view5 .pic{ width: 223*$pi+px; height: 385*$pi+px;}
	.col-main .view6 .pic{ width: 142*$pi+px; height: 195*$pi+px;}
	.col-main .view7 .pic{ width: 142*$pi+px; height: 185*$pi+px;}


	.col-bottom{overflow: hidden;padding: 10*$pi+px;position: relative;}
	.col-bottom ul{display: inline-flex;width: max-content;}
	.col-bottom li{width: 125*$pi+px;height: 125*$pi+px;border-radius: 9*$pi+px;margin-right: 14*$pi+px;background:rgba(178,211,255,0.1) url(../images/hero_n.png) no-repeat center; background-size: 100%; float: left;-moz-box-shadow: 0*$pi+px 1*$pi+px 1*$pi+px rgba(3,3,3,0.25);-webkit-box-shadow:0*$pi+px 1*$pi+px 1*$pi+px rgba(3,3,3,0.25);box-shadow:0*$pi+px 1*$pi+px 1*$pi+px rgba(3,3,3,0.25);}
	.col-bottom li .pic{padding: 20*$pi+px 20*$pi+px 7*$pi+px;display: block;margin: 0 auto;}
	.col-bottom li .pic img{width: 100%;}
	.col-bottom li.current{ background: #D9A404; }
	.col-bottom li .current .title{display: block;padding-bottom: 7*$pi+px;padding-top: 5*$pi+px;}
	.col-bottom li .current .pic{padding-bottom: 0;width: 68*$pi+px;}
 
	.col-bottom li .title{padding:0 7*$pi+px;display: block;text-align: center;font-size: 15*$pi+px;color: #FFF;display: none;


	}

	.toplist{/* position: relative; */height: 282*$pi+px;}
	.toplist ul{height: 282*$pi+px;margin: 10*$pi+px;position: relative;}
	.toplist .view0{width: 376*$pi+px; height:282*$pi+px; left: 0*$pi+px; top:0*$pi+px;}
	.toplist .view1{width: 152*$pi+px; height: 135*$pi+px; left: 388*$pi+px; top:0*$pi+px;}
	.toplist .view2{width: 152*$pi+px; height: 135*$pi+px; left: 388*$pi+px; top:147*$pi+px;}
	.toplist .view3{width: 264*$pi+px; height: 282*$pi+px; left: 553*$pi+px; top:0;}
	.toplist .view0 .pic,.toplist .view3 .pic{ height:282*$pi+px;  }
	.toplist .view1 .pic,.toplist .view2 .pic{ height:135*$pi+px;  }
	
	.menu.sty2 span{    
		height: 64*$pi+px;
		line-height: 64*$pi+px;
	}
	.nav2{
		/* height: 237*$pi+px; */
	}
	.nav2 .logo{
		float: left;
		width: 156*$pi+px;
		height: 122*$pi+px;
		display: table;
		text-align: center;
	}
	.nav2 .logo span{

	width: 156*$pi+px;

	display: table-cell;

	vertical-align: middle;
	}
	.fnav{
		float: left;
		margin-left: 60*$pi+px;
		width: 816*$pi+px;
		height: 60*$pi+px;
		margin-top: 53*$pi+px;
		position: relative;
		overflow: hidden;
	}
	.fnav .ins{
	margin-top: 7*$pi+px;
	/* display: inline-flex; */
	/* width: max-content; */
	height: 49*$pi+px;
	margin-left: 7*$pi+px;
	}
	.fnavbg {
		border-bottom: solid rgba(255,255,255,0.09) 1*$pi+px;
		background-image: linear-gradient(0deg, #4DC8FF 4%, #2B9DFF 97%);
		border: 1*$pi+px solid #11B9FF;
		box-shadow: 0 1*$pi+px 2*$pi+px 0 rgba(3,3,3,0.15);
		border-radius: 9*$pi+px;
		line-height: 49*$pi+px;
		width: 816*$pi+px;
		height: 49*$pi+px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	} 
	.fnav span{
		font-size: 20*$pi+px;
		color: #F6F6F6;
		padding: 0 20*$pi+px;
		float: left;
		width: 98*$pi+px;
		text-align: center;
		line-height: 48*$pi+px;
	}
	.gamelist .scroll-view{margin-left: 50*$pi+px;width: 944*$pi+px;height: 560*$pi+px;}
	.gamelist  .newslist li{width: 222*$pi+px;}
	.gamelist .content{ margin-top: 0 }
	.headinfo{ padding: 27*$pi+px 0;   }
	.headinfo .pic{width: 478*$pi+px;height: 318*$pi+px;position: relative;}
	.headinfo .info{margin-left: 30*$pi+px;width: 600*$pi+px;}
	.headinfo .info .title{font-size: 32*$pi+px;color: #FFF;text-align: left;display: block;margin-bottom: 14*$pi+px;}
	.headinfo .info .sum{font-size: 16*$pi+px;color: #E5F3FF;line-height: 28*$pi+px;margin-bottom: 20*$pi+px;height: 58*$pi+px;}
	.headinfo .info .tag{
		font-size: 16*$pi+px;
		color: #FFEE47;
		margin-bottom: 20*$pi+px;
		height: 11*$pi+px;
		line-height: 11*$pi+px;
	}
	.headinfo .info .tag em{ color: #FFF; }
	.info .colbtn .btns{
    /* margin-right: 30*$pi+px; */
}
	.info .colbtn .btns.ad{
    margin-top: 2*$pi+px;
    display: block;
    width: 196*$pi+px;
}
.info .colbtn .btns.ad img{
    width: 100%;
}
	.colbtn .btns{width: 112*$pi+px;height: 112*$pi+px;display: table;float: left;margin-right: 20*$pi+px;background: #515B7D;background: url(../images/168_n.png) no-repeat center;background-size: 100%;}
	.colbtn .btns .ins{
		display: table-cell;
		height: 48*$pi+px;
		line-height: 20*$pi+px;
		text-align: center;
		vertical-align: middle;
	}
	.colbtn .btns .ins em{font-size: 16*$pi+px;color: #FFF;margin-top: 7*$pi+px;display: block;}
	.colbtn .btns .icon{width: 36*$pi+px;height: 36*$pi+px;margin: 0 auto;}
	.colbtn .btns .icon-11{background-position: 0 -2221*$pi+px;background-size: 100%;}
	.colbtn .btns .icon-12{background-position: 0 -51*$pi+px;background-size: 100%;}
	.colbtn .btns.on .icon-12{background-position: 0 0;background-size: 100%;}
	.colbtn .btns.current{background: #D9A404}
	.colbtn .btns.current .icon-11{background-position: 0 -2171*$pi+px;background-size: 100%;}
	.colbtn .btns.current .icon-12{background-position: 0 -2*$pi+px;background-size: 100%;}

	.headinfo .info .btm{
		padding-top: 31*$pi+px;
	}
	.listlrbox{
	 width: 1150*$pi+px;
	 padding-top: 27*$pi+px;
	 overflow: hidden;
	 float: left;
	 margin-right: 10*$pi+px;
	}
	.listlrbox .title{font-size: 36*$pi+px;color: #F6F6F6;padding-bottom: 25*$pi+px;display: block;}
	.listlrbox li{width: 272*$pi+px;height: 96*$pi+px;float: left;margin-right: 10*$pi+px;margin-left: 5*$pi+px;margin-bottom: 10*$pi+px;background-image: linear-gradient(0deg, #4DC8FF 4%, #2B9DFF 97%);/* background-image: radial-gradient(50% 124%, rgba(255,255,255,0.68) 100%, rgba(255,255,255,0.23) 100%, rgba(255,255,255,0.00) 100%); */border: 1*$pi+px solid #11B9FF;box-shadow: 0 2*$pi+px 3*$pi+px 0 rgba(3,3,3,0.15);border-radius: 9*$pi+px;}
	.listlrbox li .hotbutton{
    padding: 10*$pi+px;
    overflow: hidden;
}
	.listlrbox li:nth-child(4n){
		margin-right: 0;
	}
	.listlrbox li .hotbutton.on::before {
    content: "";
    width: 97*$pi+px;
    height: 24*$pi+px;
    display: block;
    position: absolute;
    left: 150*$pi+px;
    top: 58*$pi+px;
   background: url(../images/play.png) no-repeat center;
   background-size: 100%;
}
.heroTerminal .scroll-view{
	width: 1150*$pi+px;
    height: 240*$pi+px;
}
.heroTerminal .scroll-view .ins{width: 210%;}
		.listlrbox li.current{
    /* border: solid #000 2*$pi+px; */
    /* background-image: linear-gradient(0deg, #fdf403 4%, #ebff47 97%); */
    /* background-image: radial-gradient(50% 124%, rgba(255,255,255,0.68) 100%, rgba(255,255,255,0.23) 100%, rgba(255,255,255,0.00) 100%); */
    border: 1*$pi+px solid #ffec58;
    box-shadow: 0 2*$pi+px 3*$pi+px 0 rgb(255, 238, 71);
}
	.listlrbox li .pic{width: 128*$pi+px;height: 72*$pi+px;float: left;padding-right: 7*$pi+px;overflow: hidden;}
	.listlrbox li .title{font-size: 16*$pi+px;height: 22*$pi+px;line-height: 22*$pi+px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;}
	.listlrbox li .sum{color: #D0D8E7;font-size: 14*$pi+px;margin-top: 17*$pi+px;float: left;}
	.pages{
		clear: both;
		height: 39*$pi+px;
		line-height: 39*$pi+px;
		margin-top: 15*$pi+px;
	}
	.pages span{float: left;font-size: 20*$pi+px;width: 73*$pi+px;height: 36*$pi+px;line-height: 36*$pi+px;background: rgba(31, 31, 31, 0.25);text-align: center;margin-right: 10*$pi+px;}
	.pages span.current{color: #FFD734;border-radius: 0;border: 0;/* box-shadow: none; */margin-right: 10*$pi+px;}
	.person{padding-top: 27*$pi+px;}
	.personinfo{width: 298*$pi+px;height: 88*$pi+px;background: url(../images/483.png) no-repeat center;border-radius: 9*$pi+px;background-size: 100%;padding: 11*$pi+px;}
	.personinfo .face{width: 88*$pi+px;height: 88*$pi+px;float: left;margin-right: 10*$pi+px;display: table;text-align: center;}
	.personinfo .face img{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    height: 64*$pi+px;
}
	.personinfo .phone{
		font-size: 24*$pi+px;
		line-height: 33*$pi+px;
		height: 33*$pi+px;
		color: #FFF;
	}
	.personinfo .summary{
		font-size: 16*$pi+px;
		color: #D0D8E7;
		margin-top: 34*$pi+px;
	}
	.person .col-bord{width: 518*$pi+px;}
	.person .col-bord .btns:nth-child(4n){ margin-right: 0 }
	.adbord2{
		padding-top: 33*$pi+px;
		width: 1153*$pi+px;
		margin: 33*$pi+px auto 0;
		display: flex;
	}
	.adbord2 .pic{border-radius: 9*$pi+px;width: 376*$pi+px;height: 212*$pi+px;overflow: hidden;float: left;margin-right: 12*$pi+px;}
	.adbord2 .pic:nth-child(3n){
		margin-right: 0;
	}
	.col-line{
		margin-top: 27*$pi+px;
	}
	.col-line .title{font-size: 24*$pi+px;color: #F6F6F6;display: block;padding: 0 10*$pi+px 20*$pi+px;}
	.person .newslist li{width: 278*$pi+px;margin-bottom: 20*$pi+px;}
	.person .newslist{height: 225*$pi+px;width: 1153*$pi+px;}
	.person .newslist ul{width: 220%;}
    .col-line h2.title{ font-size:36*$pi+px}
	.person .newslist li:nth-child(4n){margin-right: 12*$pi+px;}
	.col-bord .btns.on::before{position: absolute;right: 17*$pi+px;top: 7*$pi+px;content: "";width: 9*$pi+px;height: 6*$pi+px;border-radius: 50%;background-color: #F41E1E;}

	.mylist{
	padding-top: 27*$pi+px;
	}
	.mylist .newslist li{ width: 223*$pi+px; height: 167*$pi+px; }
	.mylist .newslist li .list{
		position: relative;
	}
	.mylist .scroll-view{width: 960*$pi+px;/* height: auto; */margin-top: 10*$pi+px;}
	.mylist .scroll-view .scroll{height: 600*$pi+px;}
	.menu.sty3{width: 184*$pi+px;margin-right: 17*$pi+px;}
	.menu.sty3 span.btns{
		width: 184*$pi+px;
		height: 64*$pi+px;
		line-height: 64*$pi+px;
		font-size: 20*$pi+px;
		display: table;
		margin-bottom: 10*$pi+px;
		background:url(../images/276_n.png) no-repeat center; background-size:100%;
		}
			.menu.sty3 span.current.btns{
	 
		background:url(../images/276_s.png) no-repeat center; background-size:100%;
		}
	.menu.sty3 span .ins{height: 28*$pi+px;line-height: 28*$pi+px;display: table-cell;font-size: 20*$pi+px;text-align: center;background: none;}
	.menu.sty3 span i.icon{width: 24*$pi+px;height: 24*$pi+px;background-size: 24*$pi+px;display: inline;padding: 0 12*$pi+px;margin-right: 10*$pi+px;}
	.menu.sty3 span em{line-height: 24*$pi+px;}
	.mylist .main{padding-top: 40*$pi+px;overflow: hidden;}
	.mylist .icon-message{background-position: 0 -227*$pi+px;}
	.mylist .icon-suggestion{background-position: 0 -1380*$pi+px;}
	.mylist .icon-help{background-position: 0 -1183*$pi+px;}
	.mylist .icon-version{background-position: 0 -328*$pi+px;}
	.mylist .icon-history{background-position: 0 -1116*$pi+px;}
	.mylist .icon-collection{background-position: 0 -326*$pi+px;}
	.textlist {clear: both;padding: 10*$pi+px;}
	.textlist li{
		width: 456*$pi+px;
		height: 176*$pi+px;
		float: left;
		border-radius: 9*$pi+px;
		margin-right: 12*$pi+px;
		margin-bottom: 15*$pi+px;
		background-image: linear-gradient(45deg, #4C98DA 0%, #3A8BD1 100%);
		border: 1*$pi+px solid #5DB3FF;
		border-radius: 9*$pi+px;
	}
	.textlist li:nth-child(2n){
		margin-right: 0;
	}
	.textlist li .effect{padding: 20*$pi+px;overflow: hidden;position: relative;}
	.textlist li .effect.current{ background-color: #67749E }
	.textlist li .title{
		font-size: 24*$pi+px;
		color: #F1F1F1;
		display: block;
	}
	.textlist li .sum{
		font-size: 17*$pi+px;
		color: #DEDEDE;
		height: 48*$pi+px;
		line-height: 24*$pi+px;
		overflow: hidden;
		margin-top: 20*$pi+px;
		padding-bottom: 7*$pi+px;
	}
	.textlist li .date{
		float: right;
		color: #9DA5B8;
		margin-top: 20*$pi+px;
	}
	.textlist .on::before{ position: absolute; right: 7*$pi+px;top: 7*$pi+px; content: ""; width: 6*$pi+px; height: 6*$pi+px; border-radius: 50%; background-color: #F41E1E }
	.sbtn{display: none; position: absolute;right: 10*$pi+px;top: -33*$pi+px;border-radius: 6*$pi+px ;font-size: 16*$pi+px;line-height: 36*$pi+px;color: #FFF;}
	.sbtn .icon{padding: 0 10*$pi+px;background-size: 16*$pi+px;display: inline;margin-right: 5*$pi+px;margin-left: 7*$pi+px;text-align: center;border-radius: 6*$pi+px ;}
	.sbtn .effect{display: inline-block;width: 94*$pi+px;height: 36*$pi+px;background: url('../images/141_n.png') no-repeat center;margin: 0; border-radius: 6*$pi+px ;}
	.y-cancel .effect{width: 126*$pi+px;background: url('../images/189_n.png') no-repeat center;}
	.clearmsg{display: inline-block;}
	.sbtn .effect i{margin:8*$pi+px 8*$pi+px 12*$pi+px 18*$pi+px;}
	.cancel-back .effect{text-align: center;}



	.coverbg{display: none;   background:rgba(3,3,3,0.25); position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 99}
	.popwind{ display: none; width: 640*$pi+px; height: 418*$pi+px;border-radius: 9*$pi+px; overflow: hidden; position: fixed; left: 50%; top:21%; margin-left: -320*$pi+px; background: rgba(19,20,23,0.9); z-index: 999; }
	.popwind .inners{padding: 36*$pi+px;overflow: hidden;}
	.popwind .title{font-size: 32*$pi+px;text-align: center;}
	.popwind .summary{font-size: 24*$pi+px;color: #FFF;line-height: 33*$pi+px;height: 151*$pi+px;margin-top: 47*$pi+px;margin-bottom: 27*$pi+px;}
	.popwind .btns{width: 278*$pi+px;height: 80*$pi+px;display: block;float: left;margin-right: 12*$pi+px;background: #515B7D;border-radius: 9*$pi+px;line-height: 80*$pi+px;text-align: center;background: url(../images/483.png) no-repeat center;background-size: 100%;}
	.popwind .btns:nth-child(2n){ margin-right: 0 }

	.popwind .btns .ins { display: block; }
	.popwind .btns em{
		font-size: 24*$pi+px;
	}
	.collection .newslist li .list::before{content: "";width: 24*$pi+px;height:24*$pi+px;display:block;position: absolute;left: 19*$pi+px;top: 21*$pi+px;background:url(../images/icon-1.png) no-repeat    0 -1711*$pi+px;background-size: 24*$pi+px;
	-webkit-transition: left .5s,top .5s;
		-moz-transition: left .5s,top .5s;
		-ms-transition: left .5s,top .5s;
		-o-transition: left .5s,top .5s;
		transition: left .5s,top .5s;
		z-index: 9999;
	}
	.collection .newslist .current .list::before{width: 51*$pi+px;height:51*$pi+px;background: url(../images/icon-1.png) no-repeat    0 -3568*$pi+px;background-size: 51*$pi+px;left: 50%;top: 27%;margin-left: -25*$pi+px;z-index: 99999;}


	.showList{display: none;}
	.showList .newslist li{width: 220*$pi+px;height: 170*$pi+px;margin-right: 12*$pi+px;}
	.showList .newslist li:nth-child(4n){margin-right: 0;}
	.showList .newslist li .hotbutton{width: 217*$pi+px;height: 168*$pi+px;}
	.showList .newslist li .pic{height: 124*$pi+px;}
	.showList .newslist li .pic img{width: 220*$pi+px; height: 124*$pi+px;}
	#Jhistory{display: block;}
	
	/* èƒŒæ™¯ */
	#jingke{
		background: linear-gradient(-180deg, #165294 0%, #1DA8FF 100%);
	}
	#jingke::after{
		content: "";
		width:1280*$pi+px;
		height: 720*$pi+px;
		background:url('../images/img_feedback_bg.png') no-repeat right;
		background-attachment: fixed;
		background-size: contain; 
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
	}
	#diaochan{	
		background: linear-gradient(-180deg, #165294 0%, #1DA8FF 100%);
	}
	#diaochan::after{
		content: "";	
		width:1280*$pi+px;
		height: 720*$pi+px;
		background:url('../images/img_helpbg.png') no-repeat  right;
		background-attachment: fixed;
		background-size: contain; 
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
	}





	.bord-help{
		width: 895*$pi+px;
		line-height: 45*$pi+px;
		color: #F6F6F6;
		font-size: 20*$pi+px;
		float: left;
		padding:0 33*$pi+px;
	}
	.bord-help .summary p{line-height: 40*$pi+px;}
	.btns{
		display: block;
		border-radius: 9*$pi+px;
		color: #FFF;
		font-size: 24*$pi+px;
		/* line-height: 120*$pi+px; */
		text-align: center;
		margin-bottom: 7*$pi+px;
		vertical-align: middle;
	}
	.btns .ins{
		width: 156*$pi+px;
		height: 78*$pi+px;
		display: block;
		line-height: 78*$pi+px;
		background: rgba(178,211,255,0.10);
		border: 0 solid rgba(208,223,255,0.15);
		box-shadow: 0 1*$pi+px 1*$pi+px 0 rgba(3,3,3,0.25);
		border-radius: 5.51*$pi+px;
		overflow: hidden;
	}
	.btns .ins2{
		width: 278*$pi+px;
		height: 80*$pi+px; 
		display: block; 
		background: url('../images/80_n.png') no-repeat center #515B7D;
		background-size: contain;
		box-shadow: 0 1*$pi+px 1*$pi+px 0 rgba(3,3,3,0.25);
		border-radius: 5.51*$pi+px;
	}
	.bord-help h1{font-size: 24*$pi+px;margin-bottom: 13*$pi+px;}	
	.bord-help h2{font-size: 20*$pi+px;}
	.bord-help p{width: 536*$pi+px;line-height: 28*$pi+px;white-space: normal; padding-bottom: 13*$pi+px;clear: both;}	
	.bord-help .btns{float: left;/* padding: 0 20*$pi+px; */margin-right: 13*$pi+px;}
	.bord-help .btns em{width: 128*$pi+px;font-size: 16*$pi+px;padding: 0 13*$pi+px;}
	.bord-help .line{ margin-bottom: 20*$pi+px; overflow: hidden; clear: both; border-bottom: #8a96c5 solid 1*$pi+px; }
	.hero .col-line{
    padding-top: 345*$pi+px;
}
	/*.hero .newslist li:nth-child(4n){ margin-right: 18*$pi+px; }*/
	.hero .newslist li{
		background: #AE433B;
		border-radius: 0;
		width: 278*$pi+px;
		margin-right: 12*$pi+px;
		margin-bottom: 27*$pi+px;
	}
	.hero .newslist li .pic{ border-radius: 0; }
	.hero .newslist li .current{
		border-radius: 0;
		background: none;
	}
	.newslist .pic{ position: relative; }
	.newslist .pic .time{
		width: 48*$pi+px;
		height: 24*$pi+px;
		display: block;
		background: rgba(3,3,3,0.50);
		font-size: 14*$pi+px;
		text-align: center;
		line-height: 24*$pi+px;
		color: #F6F6F6;
		letter-spacing: 0;
		position: absolute;
		right: 10*$pi+px;
		bottom: 10*$pi+px;
	}
	.hero .newslist{height: 202*$pi+px;}
	.hero .newslist li{
    margin-bottom: 0;
}
.newslist li .pic img{width: 100%}
	.hero .slidewrap{height: 215*$pi+px;}
	.hero .slidewrap ul{margin-bottom: 20*$pi+px; display: block; overflow: hidden;}
	.hotindex {position: absolute; right: 0 ; top:27*$pi+px;}
	.hotindex span{   float: left; width: 8*$pi+px; margin-right: 8*$pi+px; height: 8*$pi+px; border-radius: 50%; overflow: hidden; background:rgba(255,255,255,0.25); }
	.hotindex span.cur{background:rgba(255,255,255,1); }
	.aboutlist{
    clear: both;
    padding-top: 0;
    height: 268*$pi+px;
    overflow: hidden;
    position: relative;
}
	.aboutlist .title{
    font-size: 24*$pi+px;
    color: #f6f6f6;
    display: block;
}
/*.play_number.png*/
  .newslist li em.view{padding-left: 36*$pi+px;line-height: 36*$pi+px;height: 36*$pi+px;background: rgba(3,3,3,0.50) url(../images/play_number.png) no-repeat 7*$pi+px center;background-size: 18*$pi+px;border-radius: 6*$pi+px;display: inline-block;padding-right: 20*$pi+px;position: absolute;right: 10*$pi+px;bottom: 10*$pi+px;font-size: 20*$pi+px;}
 

/* bottom-tips */
.bottom-tips{display: none; width: 1280*$pi+px;height: 30*$pi+px;background: rgba(3,3,3,0.25);font-size: 12*$pi+px;line-height: 30*$pi+px; color: #F6F6F6;letter-spacing: 0;text-align: center;position: absolute;bottom: 0;left: 0;}
.col-left .logo{width: 166*$pi+px;height: 170*$pi+px;/* margin-bottom:20*$pi+px; */display: block;}
.col-left .logo img{width:100%}
.mylist .newslist li.current{padding:0}





/* douyu */
.douyu .hotbutton{margin: 0;}
/* douyu-common */
.douyu {background: url('../images/douyu/bg_douyu.jpg') 0 0 fixed;background-size: contain;}
.douyu .content{width: 1186*$pi+px;margin: 0 auto;}

/* inner */
.douyu .inner{width: 1153*$pi+px; margin: 0 auto; }

/* scroll-Y */
.douyu .scroll-view{width: 1153*$pi+px;height: 560*$pi+px;margin: 0 auto;position: relative;overflow: hidden;}
/* scroll-x */
.douyu .scroll-view-x1{height: 151*$pi+px;}
.douyu .scroll-view-x2{height: 387*$pi+px;}
.douyu .scroll-view-x1 ul, .scroll-view-x2 ul , .scroll-view-x3 ul{display: inline-flex;width: max-content;}

/* row */
.douyu .row{width: 1146*$pi+px;margin-bottom: 15*$pi+px; padding: 0 7*$pi+px; position: relative;}
.douyu .row .list{
    border-radius: 9*$pi+px;
    float: left;
    position: relative;
}
/* left-icon */
.douyu .row .left{
    width: 24*$pi+px;
    height: 20*$pi+px;
    position: absolute;
    right: -40*$pi+px;
}


/* live å›¾æ ‡*/
/* .live::after{   
    content: '';
    width: 48*$pi+px;
    height: 54*$pi+px;
    display: block;
    background: url('../images/douyu/live.png') no-repeat;
    position: absolute;
    top: 0;
    left: 12*$pi+px;
} */

/* card ä¸»æ’­å¡ç‰‡æ ·å¼ï¼Œéœ€è¦åœ¨çˆ¶çº§åŠ 'card'ç±»å*/
.douyu .card .bg{
    width: 165*$pi+px;
    height: 108*$pi+px;
    margin-right: 12*$pi+px;
    margin-bottom: 12*$pi+px;
    float: left;
}
.douyu .card .bg .hotbutton{
    width: 162*$pi+px;
    height: 108*$pi+px;
    border-radius: 9*$pi+px;
    background: url('../images/douyu/248_n.png') no-repeat;
    background-size: cover;
    position: relative;
}
.douyu .card .bg .hotbutton img{
    width: 64*$pi+px;
    height: 64*$pi+px;
    border: 1*$pi+px solid #797979;
    border-radius: 64*$pi+px;
    position: absolute;
    top: 8*$pi+px;
    left: 51*$pi+px;
    overflow: hidden;
}
.douyu .card .bg .hotbutton .title{
    display: block;
    width: 100%;
    font-size: 16*$pi+px;
    line-height: 22*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-align: center;
    position: absolute;
    bottom: 9*$pi+px;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    /* overflow:ellipsis */
}


/* douyu-1 */

.douyu .scroll-view{padding: 10*$pi+px 13*$pi+px;}

/* row-top */
.douyu .row-top{height: 348*$pi+px;}
/* row-top ==> left */
.douyu .row-top .col-left .view{width: 620*$pi+px; height: 348*$pi+px;position: relative;line-height: 0;border-radius: 9*$pi+px;overflow: hidden;}
.douyu .row-top .col-left .view .pic{ clear: both; line-height: 0 }
.douyu .row-top .col-left .view .pic img{width: 620*$pi+px; height: 348*$pi+px;border-radius: 9*$pi+px;}
.douyu .row-top .col-left .view .title{display: block;font-size: 16*$pi+px;line-height: 46*$pi+px;color: #F6F6F6;padding: 7*$pi+px 0;height: 46*$pi+px;position: absolute;bottom: 0;left: 0;width: 100%; background: #0e0e0e; background: linear-gradient(to bottom, rgba(3,3,3,0) 0%,rgba(3,3,3,1) 100%);}
.douyu .row-top .col-left .view .title span{padding: 0 10*$pi+px;display: block;}
/* row-top ==> right */
.douyu .row-top .col-right{width: 520*$pi+px;height: 348*$pi+px;position: absolute;top: 0;left: 641*$pi+px;}
.douyu .row-top .col-right .bg:nth-child(3n){margin-right: 0;}
.douyu .row-top .col-right ul li:last-child .title{line-height: 108*$pi+px;    bottom: 0;}



/* row-bottom */
.douyu .row-bottom{height: 333*$pi+px;}
.douyu .row-bottom .list{   border-radius: 9*$pi+px;}
.douyu .row-bottom .list .title{
    display: block;
    width: 108*$pi+px;
    height: 36*$pi+px;
    border-radius: 9*$pi+px 0 36*$pi+px 0;
    background: #FF6633;
    /* background-image: linear-gradient(left, rgba(255,255,255,0.00) 0%, #FFFFFF 100%); */
    font-size: 20*$pi+px;
    line-height: 36*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0 1*$pi+px 2*$pi+px rgba(3,3,3,0.25);
    position: absolute;
    top: 0;
    left: 0;
}


/* row-bottom ==> left */
.douyu .row-bottom .col-left{position: absolute; top: 0; left: 0;}
.douyu .row-bottom .col-left .list{width: 216*$pi+px;height: 320*$pi+px;margin-right: 12*$pi+px;}
.douyu .row-bottom .col-left .list .pic img{
    width: 213*$pi+px;
    height: 317*$pi+px;
    border-radius: 9*$pi+px;
}
/* row-bottom ==> right */
.douyu .row-bottom .col-right{position: absolute; top: 0; left: 912*$pi+px;}
.douyu .row-bottom .col-right .list{
    width: 240*$pi+px;
    height: 154*$pi+px;
    margin-bottom: 12*$pi+px;
    float: none;
}
.douyu .row-bottom .col-right .list .pic img{
    width: 237*$pi+px;
    height: 153*$pi+px;
    border-radius: 9*$pi+px;
}





/* game1280 */

.game .menu{
    position: relative;
    padding-top: 10*$pi+px;
}
.game .menu span{
    background: url('../images/120_n.png');
    background-size: contain;
}
.menu span img{
    height: 100%;
}
.game #down{
    margin: 0 66*$pi+px;
    position: absolute;
    bottom: -13*$pi+px;
}
.game .newslist li{
    padding: 0;
}

.game .scroll-view .toplist{padding: 13*$pi+px 10*$pi+px;}
.game .scroll-view .view0{
    width: 376*$pi+px;
    height: 282*$pi+px;
    left: 0*$pi+px;
    top: 0*$pi+px;
}
.game .scroll-view .view0 title{
    background-image: linear-gradient(-180deg, rgba(3,3,3,0.00) 0%, #000000 100%);
}
.game .scroll-view .view1{
    width: 428*$pi+px;
    height: 282*$pi+px;
    background: #2B9DFF;
    left: 388*$pi+px;
    top: 0*$pi+px;
}
.game .scroll-view .view1 .title-pic{
    width: 48*$pi+px;
    height: 17*$pi+px;
    margin-bottom: 16*$pi+px;
    position: absolute;
    left: 16*$pi+px;
    top: 15*$pi+px;
}
.game .toplist ul{margin: 0;}
/* top1-3 */
.game #top-view{
    margin: 0;
    padding: 0;
}
/* 3ä¸ªæŽ’åicon */
.game #top-view .top-list:nth-child(1)::after{content: ""; width: 41*$pi+px;height: 16*$pi+px;background-size: contain !important; position: absolute;top: 4*$pi+px;left: 4*$pi+px;z-index: 99;background: url('../images/yy/ranking_top1.png') no-repeat;}
.game #top-view .top-list:nth-child(2)::after{content: ""; width: 41*$pi+px;height: 16*$pi+px;background-size: contain !important; position: absolute;top: 4*$pi+px;left: 4*$pi+px;z-index: 99;background: url('../images/yy/ranking_top2.png') no-repeat;}
.game #top-view .top-list:nth-child(3)::after{content: ""; width: 41*$pi+px;height: 16*$pi+px;background-size: contain !important; position: absolute;top: 4*$pi+px;left: 4*$pi+px;z-index: 99;background: url('../images/yy/ranking_top3.png') no-repeat;}

.game #top-view .top-list{
    width: 102*$pi+px;
    height: 96*$pi+px;
    line-height: 32*$pi+px;
    position: absolute;
    top: 48*$pi+px;
}
.game #top-view .top-list .title{
    font-size: 16*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-shadow: 0 0.5*$pi+px 0.5*$pi+px rgba(3,3,3,0.25);
    background-image: none;
    background-color: rgba(3,3,3,0.00);
    position: static;
}
.game #top-view .top-list0{left: 16*$pi+px;}
.game #top-view .top-list1{left: 163*$pi+px;}
.game #top-view .top-list2{right: 16*$pi+px;}

.game .toplist .view1 .pic{height: 96*$pi+px;}
.game #top-view .pic img{
    width: 102*$pi+px;
    height: 64*$pi+px;
    border-radius: 9*$pi+px;
}
.game #top-view .top-list0 .title,.game #top-view .top-list1 .title,.game #top-view .top-list2 .title{
    width: 89*$pi+px;
    height: 32*$pi+px;
    font-weight: 500;
    padding: 0 7*$pi+px;
    line-height: 32*$pi+px;
    position: absolute;
    bottom: 0;
}
.game #top-view .top-list0 .hotbutton,.game #top-view .top-list1 .hotbutton,.game #top-view .top-list2 .hotbutton{
    width: 102*$pi+px;
    height: 96*$pi+px;
}
/* top4-6 */
.game #top-view .top-list3,.game #top-view .top-list4,.game #top-view .top-list5{
    width: 392*$pi+px;
    height: 36*$pi+px;
    padding: 0 12*$pi+px;
    background: #1A87E5;
    border-radius: 9*$pi+px;
    position: absolute;
    left: 6*$pi+px;
}
.game #top-view .top-list3 .title,.game #top-view .top-list4 .title,.game #top-view .top-list5 .title{
    width: 368*$pi+px;
    height: 36*$pi+px;
    padding: 0 12*$pi+px;
    line-height: 36*$pi+px;
}
.game #top-view .top-list3{top: 150*$pi+px;}
.game #top-view .top-list4{top: 190*$pi+px;}
.game #top-view .top-list5{top: 230*$pi+px;}


.game .adbord{
    top: 0;
    right: 0;
}
/* .col-right img{
    width: 234*$pi+px;
    height: 385.5*$pi+px;
} */


.game .scroll{
    height: 431*$pi+px;
}
.game #Jnewslist .newslist{
    width: 816*$pi+px;
    height: 424*$pi+px;
}
.game #Jnewslist .newslist .view{
    width: 264*$pi+px;
    height: 195*$pi+px;
    background: #2B9DFF;
    margin-bottom: 20*$pi+px;
}
.game #Jnewslist .newslist .view{
    margin-right: 12*$pi+px;
}
.game #Jnewslist .newslist .view:nth-child(3n){
    margin-right: 0;
}
.game #Jnewslist .newslist .view .pic img{
    width: 264*$pi+px;
    height: 149*$pi+px;
    border-radius: 9*$pi+px 9*$pi+px 0 0;
}
/* .like æµè§ˆæ•°æ ·å¼ */
.game #Jnewslist .newslist .view .pic .like{
    display: inline-block;
    padding-left: 24*$pi+px;
    padding-right: 6*$pi+px;
    background: url('../images/yy/play_number.png') 9*$pi+px 9*$pi+px no-repeat rgba(3,3,3,0.50);
    background-size: 12*$pi+px;
    border-radius: 6*$pi+px;
    font-size: 14*$pi+px;
    text-align: center;
    line-height: 24*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    position: absolute;
    top: 117*$pi+px;
    right: 8*$pi+px;
    z-index: 99;
}

/* ÃƒÆ’Ã‚Â¥Ãƒâ€¹Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â */
.game #moretype{
    width: 816*$pi+px;
    height: 132*$pi+px;
    margin: 36*$pi+px 12*$pi+px 38*$pi+px;
}
.game #moretype li{
    width: 195*$pi+px;
    height: 132*$pi+px;
    margin-right: 12*$pi+px;
    float: left;
}
.game #moretype li:last-child{
    margin-right: 0;
}
.game #moretype .more{
    width: 195*$pi+px;
    height: 132*$pi+px;
    background-image: linear-gradient(0deg, #4DC8FF 4%, #2B9DFF 97%);
    border: 1*$pi+px solid #197CCB;
    box-shadow: 0 1*$pi+px 2*$pi+px 0 rgba(3,3,3,0.15);
    border-radius: 9*$pi+px;
    position: relative;
    float: left;

}
.game #moretype .more.current{  border: 2*$pi+px solid #fff;  box-shadow: 0 0 5*$pi+px 1*$pi+px #ffc000;}
.game #moretype .line{
    display: block;
    width: 12*$pi+px;
    height: 6*$pi+px;
    background: #F1F1F1;
    position: absolute;
    top: 90*$pi+px;
    left: 92*$pi+px;
}
.game #moretype .more img{
    /* width: 292.5*$pi+px;
    height: 198*$pi+px; */
    border-radius: 9*$pi+px;
     width: 100%;
}
.game #moretype .more span{
    width: 155*$pi+px;
    height: 132*$pi+px;
    background: rgba(3,3,3,0.50);
    border-radius: 9*$pi+px;
    display: block;
    font-size: 32*$pi+px;
    line-height: 132*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0 2*$pi+px 2*$pi+px rgba(3,3,3,0.25);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20*$pi+px;
    overflow: hidden;
}
.game #moretype .more span:last-child{
    background: rgba(3,3,3,0);
}

/* ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚ÂµÃƒÂ¢Ã¢â€šÂ¬Ã‚ÂºÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚ÂºÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â */
.game #competition{
    width: 816*$pi+px;
    height: 501*$pi+px;
    /*position: relative;*/
    clear: both;
}
.game #competition .header{
    *zoom: 1;
    margin-bottom: 23*$pi+px;
}
.game #competition .header::after{
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}
.game #competition h3{
    font-size: 24*$pi+px;
    padding-left: 12*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    float: left;
}
.game #found{
    width: 94*$pi+px;
    height: 36*$pi+px;
    background-image: linear-gradient(-179deg, #4DC8FF 4%, #2B9DFF 97%);
    border: 1*$pi+px solid #197CCB;
    box-shadow: 0 1*$pi+px 2*$pi+px 0 rgba(3,3,3,0.15), inset 0 -6*$pi+px 0 0 #2290E8;
    border-radius: 9*$pi+px;
    font-size: 16*$pi+px;
    line-height: 36*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-align: center;
    float: right;
}
.game #competition .newslist{
    width: 816*$pi+px;
    height: 424*$pi+px;
    padding: 12*$pi+px;
}
.game #competition .newslist li{
    width: 195*$pi+px;
    height: 335*$pi+px;
    border-radius: 9*$pi+px;
    background: #2B9DFF;
    float: left;
    margin-right: 12*$pi+px;
}
.game #competition .newslist li:last-child{
    margin-right: 0;
}
.game #competition .newslist .pic{
    display: block;
}
.game #competition .newslist .pic img{
    width: 195*$pi+px;
    height: 289*$pi+px;
    border-radius: 9*$pi+px 9*$pi+px 0 0;
}
.game #competition .newslist .title1{
    display: block;
    padding: 12*$pi+px;
    font-size: 16*$pi+px;
}
.game .scrollwrap{overflow: hidden;}


/* search1280 */
.searchMain .wrap{
    margin: 36*$pi+px 64*$pi+px;
    overflow: hidden;
}
.searchMain .btnWrap{
    width: 332*$pi+px;
    /* padding: 0 9*$pi+px; */
    clear: both;
}
.searchMain .btn{
    float: left;
    /* background: #515B7D; */
    /* border: 1*$pi+px solid #5C688F; */
    box-shadow: 0 2*$pi+px 3*$pi+px 0 rgba(3,3,3,0.15);
    border-radius: 9*$pi+px;
}

/* å·¦ä¾§æœç´¢ */
.searchMain .col-left{
    width: 308*$pi+px;
    margin-right: 44*$pi+px;
    float: left;
}
.searchMain .inp{
    width: 308*$pi+px;
    height: 64*$pi+px;
    padding: 12*$pi+px 12*$pi+px 25*$pi+px;
    border: none;
}
.searchMain .inp .search{
    width: 260*$pi+px;
    height: 64*$pi+px;
    line-height: 64*$pi+px;
    padding-left: 42*$pi+px;
    border: none;
    border-bottom: 1*$pi+px solid #5C8DB7;
    background: rgba(3,3,3,0);
    font-size: 20*$pi+px;
    color: #FFF;
    letter-spacing: 0;
    padding-right: 13*$pi+px;
    display: block;
}
.searchMain .inp input::-webkit-input-placeholder{
            color:#5C8DB7;
        }
.searchMain .inp1{
    position: relative;
}
.searchMain .inp .searchIcon{
    width: 24*$pi+px;
    height: 24*$pi+px;
    position: absolute;
    top: 20*$pi+px;
    left: 6*$pi+px;
}
.searchMain .btnWrap1{
    height: 64*$pi+px;
    padding: 0 12*$pi+px 12*$pi+px;
}
/* .btnWrap1 .btn{
    margin:0 13*$pi+px;
} */
.searchMain .btn1{
    width: 147*$pi+px;
    height: 63*$pi+px;
    line-height: 64*$pi+px;
    font-size: 20*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    position: relative;
    background: url(../images/222_n.png) no-repeat;
    background-size: 100%;
}
.searchMain .btn1:first-child{
    margin-right: 12*$pi+px;
}
.searchMain .btn1:last-child{
    margin-right: 0;
}
.searchMain .btn1 .icon{
    width: 24*$pi+px;
    height: 24*$pi+px;
    background-size: 24*$pi+px;
    position: absolute;
    top: 20*$pi+px;
    left: 36*$pi+px;
}
.searchMain .btn1 .text{
    display: block;
    /* width: 220*$pi+px; */
    height: 64*$pi+px;
    padding-left: 72*$pi+px;
}

/* é”®ç›˜ */
.searchMain .btnWrap2{
    width: 332*$pi+px;
    height: 332*$pi+px;
    padding: 0 10*$pi+px;
}

/* å…¨é”®ç›˜ */
.searchMain .btn2{
    width: 47*$pi+px;
    height: 47*$pi+px;
    margin: 3*$pi+px;
    border-radius: 6*$pi+px;
    line-height: 48*$pi+px;
    font-size: 20*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-align: center;
    background: url(../images/72_n.png) no-repeat center;
}

/* T9é”®ç›˜ */
.searchMain .btn7{
    width: 97*$pi+px;
    height: 97*$pi+px;
    margin: 5*$pi+px;
    border-radius: 6*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-align: center;
    background: url(../images/147_n.png) no-repeat center;
}
.searchMain .btn7 .btnT9{
    width: 97*$pi+px;
    height: 76*$pi+px;
    margin-top: 20*$pi+px;
    
}
.searchMain .btn7 .btnT9 span{
    display: block;
}
.searchMain .btn7 .btnT9 span:first-child{
    margin-bottom: 4*$pi+px;
    font-size: 24*$pi+px;
    line-height: 33*$pi+px;
}
.searchMain .btn7 .btnT9 span:last-child{
    font-size: 16*$pi+px;
    line-height: 22*$pi+px;
}

/* T9é”®ç›˜-é€‰ä¸­åŽå¼¹çª— btn10 */
.searchMain .btnWrap2 .pick{display: none;}
.searchMain .btnWrap2 .pick::after{
    content: '';
    width: 396*$pi+px;
    height: 720*$pi+px;
    background: url('../images/bg.jpg') no-repeat fixed ; 
    opacity: 0.9;
    filter:alpha(opacity=90);
    box-sizing:border-box;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(10*$pi+px);   
    -moz-filter: blur(10*$pi+px);   
    -ms-filter: blur(10*$pi+px);   
    -o-filter: blur(10*$pi+px);   
    filter: blur(10*$pi+px); 
    overflow: hidden;
    z-index: 3;   
}
.searchMain .btnWrap2 .pick span{
    display: block;
    width: 98*$pi+px;
    height: 98*$pi+px;
    border-radius: 6*$pi+px;
    background: url(../images/147_n.png) no-repeat center;
    font-size: 32*$pi+px;
    line-height: 98*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0 1*$pi+px 0 rgba(3,3,3,0.25);
    position: absolute;
}
.searchMain .btnWrap2 .pick .btn10 .hotbuttonT9{
    width: 98*$pi+px;
    height: 98*$pi+px;
    margin: 0;
    position: absolute;
    z-index: 4;
}
.searchMain .btnWrap2 .pick .btn10 .hotbuttonT9:nth-of-type(1){top: 293*$pi+px;left: 62*$pi+px;}
.searchMain .btnWrap2 .pick .btn10 .hotbuttonT9:nth-of-type(2){top: 293*$pi+px;left: 169*$pi+px;}
.searchMain .btnWrap2 .pick .btn10 .hotbuttonT9:nth-of-type(3){top: 293*$pi+px;left: 276*$pi+px;}
.searchMain .btnWrap2 .pick .btn10 .hotbuttonT9:nth-of-type(4){top: 186*$pi+px;left: 169*$pi+px;}
.searchMain .btnWrap2 .pick .btn10 .hotbuttonT9:nth-of-type(5){top: 400*$pi+px;left: 169*$pi+px;}



/* é€‰æ‹©é”®ç›˜æŒ‰é’® */
.searchMain .btnWrap3{
    width: 308*$pi+px;
    height: 64*$pi+px;
    margin: 0 12*$pi+px;
    font-size: 20*$pi+px;
    line-height: 64*$pi+px;
    letter-spacing: 0;
    text-align: center;
    background: url(../images/462_btn_bg.png) no-repeat center;
    background-size: cover;
    border-radius: 9*$pi+px;
}
.searchMain .btnWrap3 .btn3{
    width: 153*$pi+px;
    height: 64*$pi+px;
    border-right: 1*$pi+px solid rgba(3,3,3,0.18);
    border-radius: 9*$pi+px 0 0 9*$pi+px;
}
.searchMain .btnWrap3 .btn4{
    width: 152*$pi+px;
    height: 64*$pi+px;
    border-radius: 0 9*$pi+px 9*$pi+px 0;
}
.searchMain .textY{
    color: #FFD734;
}
.searchMain .textW{
    color: #F6F6F6;
}


/* å³ä¾§-æœªæœç´¢ */
.searchMain .col-right{
    width: 812*$pi+px;
    height: 607*$pi+px;
    float: left;
}
.searchMain .col-right h2{
    margin:13*$pi+px 10*$pi+px 23*$pi+px;
    font-size: 24*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
}
.searchMain .btnWrap4{
    width: 812*$pi+px;
    padding: 0 10*$pi+px 13*$pi+px;
    overflow: hidden;
}
.searchMain .btn6{
    margin:0 12*$pi+px 12*$pi+px 4*$pi+px;
}
.searchMain .btn6:nth-child(2n){
    margin-right: 0;
}
.searchMain .btn6 span{
    display: block;
    width: 354*$pi+px;
    height: 64*$pi+px;
    padding-left: 38*$pi+px;
    background-image: linear-gradient(45deg, #53AFFF 0%, #3092E8 100%);
    box-shadow: 0 2*$pi+px 3*$pi+px 0 rgba(3,3,3,0.15);
    border-radius: 9*$pi+px;
    font-size: 20*$pi+px;
    line-height: 64*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
    text-shadow: 0 1*$pi+px 1*$pi+px rgba(3,3,3,0.25);
    position: relative;
}
.searchMain .btn6 span::after{
    content:'';
    width: 6*$pi+px;
    height: 6*$pi+px;
    border-radius: 6*$pi+px;
    background: #F8BC07;
    position: absolute;
    top: 29*$pi+px;
    left: 16*$pi+px;
}
.searchMain .btnWrap5{
    width: 833*$pi+px;
    /* padding-right: 18*$pi+px; */
    padding-bottom: 33*$pi+px;
    overflow: hidden;
}
/* .btnWrap5 .list{
    width: 286*$pi+px;
    height: 229*$pi+px;
} */
.searchMain .newslist{
    width: 824*$pi+px;
}
.searchMain .newslist li{
    height: 153*$pi+px;
}


/* å³ä¾§-æœç´¢ç»“æžœ */
.searchMain .searchTitle{
    width: 824*$pi+px;
    margin: 0 6*$pi+px;
    clear: both;
    overflow: hidden;
}
.searchMain .searchTitle h3{
    float: left;
    margin-right: 12*$pi+px;
    margin-bottom: 23*$pi+px;
    font-size: 24*$pi+px;
    color: #F6F6F6;
    letter-spacing: 0;
}
.searchMain .searchTitle span{
    display: inline-block;
    margin-top: 8*$pi+px;
    font-size: 16*$pi+px;
    color: #B8B8B8;
    line-height: 22*$pi+px;
    letter-spacing: 0;
}
.searchMain #inptext{
    color: #FCCE00;
}
.searchMain #amount{
    display: inline;
}
.searchMain .searchTitle img{
    float: right;
    width: 24*$pi+px;
    height: 24*$pi+px;
}

/* å³ä¾§-æœç´¢ä¸åˆ° */

.loadingBg{    background: #2d2f34 url(../images/lg.futuristic-game-interface-preloader.gif) no-repeat center;}